// Copyright 2015 Senica Gonzalez and Dr. Amy Carrillo

#header
	width 100vw
	height calc(100vw * .66)
	background url('../images/splash.jpg') no-repeat
	background-size 100%
	background-position center center
	max-height 100vh
	min-height 35vh
	position relative

	&.playing
		background #000

	video
		position absolute
		top 0
		left 0
		width 100vw
		height calc(100vw * .66)
		background-color #000000
		max-height 100vh
		min-height 35vh

	.canplay
		text-align center
		color white
		font-size 20px
		text-shadow 1px 2px black
		padding 30px
		transition visibility 1s

	.loading-wrapper
		text-align center
		color white
		font-size 9px

		.loading
			height 39px

			span
				background pink
				margin 25px auto

	.help
		background url('../images/help.svg') no-repeat
		background-size 100%
		display inline-block
		width 200px
		height 114px
		position absolute
		bottom 20px
		right 50px

#give
	color pink
	background grey1
	padding 20px
	text-align center

	.give-prompt
		font-size 30px

		&:before
			padding-right 10px

	#info
		padding 0 0 20px 0

		&> div
			display inline-block
			text-align left
			padding 0px 15px
			vertical-align top

			label
				font-size 14px

			input
				padding 5px 15px
				font-size 20px
				border-radius 5px
				border 1px solid pink

				&:focus
					outline 0
					box-shadow 0px 0px 3px 2px pink

	#thanks
		font-family: 'Lobster', cursive;

#reporter
	min-height 20px
	background light_blue
	padding 20px
	color white
	white-space nowrap
	font-size 25px
	text-align center
	box-shadow inset 0px 0px 10px black
	margin 0 -10px

	&> div
		display inline-block
		vertical-align middle
		text-align center
		width 60%

	#bar-wrapper
		height 30px
		border-radius 15px
		background white
		position relative

		#bar
			background green
			position absolute
			right 0px
			top 0px
			height 30px
			width 50%
			border-radius 0px 15px 15px 0
			transition width 0.5s ease

			#indicator
				position absolute
				left 0px
				top 47px
				background dark_green
				font-size 14px
				padding 5px
				border-radius 5px

#wall
	text-align center
	padding 50px 10px

	.item
		display inline-block
		padding 10px
		border 1px solid dark_pink
		box-shadow 2px 2px 2px dark_grey
		border-radius 5px
		margin 5px
		background pink
		color white
		text-align center
		width 100px
		transition width 0.5s

		&:hover
			width 115px

		.thanks
			font-family: 'Lobster', cursive
			font-size 14px

#photos
	background dark_grey
	white-space nowrap
	overflow hidden
	margin-left -50px
	box-shadow inset 0px 0px 10px #000

	.photo
		height 100px
		width 100px
		border-radius 50%
		background url('../images/sprite.jpg')
		display inline-block
		margin 15px 5px
		border 2px solid grey1
		

	&:hover
		.photo
			opacity 0.5

			&:hover
				opacity 1.0

#message
	font-size 20px
	color black
	padding 50px
	line-height 34px
	text-indent 20px

	.decoration
		background url('../images/decoration.svg') no-repeat
		height 100px
		background-size 50% 100px
		background-position 50%
		padding 30px

#cool
	padding 50px 80px
	background grey1
	box-shadow inset 0px 9px 10px grey2
	margin 0px -10px

	.nowrap
		white-space nowrap

	.error
		color pink
		padding 10px

	h1
		font-family: 'Lobster', cursive

	a
		text-decoration none
		color dark_grey
		text-align center
		display inline-block
		vertical-align top

	#comment-form
		display inline-block
		text-align center

		&> *
			display inline-block

		input
			transition background-color 0.3s

		&.ng-submitted
			input.ng-invalid
				background pink

		input
			&.ng-invalid.ng-touched
				background pink

		audio
			display none

	#comment-table
		display inline-block
		vertical-align top
		padding 0px 20px 0 50px

		td
			&:first-child
				text-align right
			&:last-child
				padding 10px 20px

			input
				padding 10px
				border-radius 5px
				border 1px solid grey2
				width 300px

	#captcha
		display inline-block

		h1
			margin 5px 0

		.captcha-image
			cursor pointer
			padding 10px

			&.active
				background rgba(209, 58, 122, 0.5)
				border 3px dashed pink

		.bottom-wrapper
			input
				padding 10px
				border-radius 5px
				border 1px solid grey2
				width 300px
				margin 10px 0


#comment-list
	padding 50px 80px
	background pink
	box-shadow inset 0px 9px 10px dark_pink
	margin 0px -10px
	color grey1

	h1
		font-family: 'Lobster', cursive

	.comment-wrapper
		padding 0px 0px 20px 0px

		.name
			font-weight bold

#footer
	background black
	text-align center
	padding 10px
	color white

	#disclaimer
		font-size 10px
		padding 20px




